= form_with model: @budget, local: true, 
  data: { controller: "form-validation", action: "submit->form-validation#submit" } do |f|
  .mb-3
    = f.label :contact_id, "Contact"
    = f.collection_select :contact_id,
      current_user.owned_contacts,
      :id,
      :name,
      { prompt: "Select a contact" },
      class: "form-select"

  .mb-3
    = f.label :year
    = f.number_field :year, 
    class: "form-control", 
    min: 2000, 
    required: true, 
    data: { form_validation_target: "field" }

  .mb-3
    = f.label :amount, "Budget Amount"
    = f.number_field :amount, 
    class: "form-control", 
    step: 100, 
    required: true, 
    data: { form_validation_target: "field" }


  = f.submit class: "btn btn-primary"