.container.mt-4
  .d-flex.justify-content-between.mb-3
    %h2 Sales
    = link_to "New Sale", new_sale_path, class: "btn btn-primary"

  %table.table.table-striped
    %thead
      %tr
        %th Contact
        %th Sold By
        %th Date
        %th Amount
        %th Actions
    %tbody
      - @sales.each do |sale|
        %tr
          %td= sale.contact.name
          %td= sale.user.email
          %td= sale.sold_on.strftime("%b %d, %Y")
          %td= number_to_currency(sale.amount_cents / 100.0)
          %td
            = link_to "Edit", edit_sale_path(sale), class: "btn btn-sm btn-outline-primary"
            = link_to "Delete",
              sale_path(sale),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "btn btn-sm btn-outline-danger"